body {background-color: white;
font-family: sans-serif;}

#container {width: 800px;
	height: 1000px;
border: none;
margin: 0 auto;
text-align: center; }

#container2 {/*width: 800px;*/
	height: 1300px;
border: none;
margin: 0 auto;
text-align: center; }

.contactinfo{width:199px;height:30px;
bottom:-173px;
position: absolute;
text-align: left;
margin-left: 90px;
}

.open{width:199px;height:30px;
bottom:-173px;
position: absolute;
text-align: left;
margin-left: 550px
}

.aboutus{ font-size:52px;
	margin-top:30px;
color: black;}

.about{width:500px;
margin-left: 432px;
margin-top: 69px;
line-height: 2;
color: black;
text-align: left;}


.bb{ font-size:52px;
	margin-top:100px;
color: black;}

.aboutbb{ width:500px;
margin-left: 432px;
margin-top: 66px;
line-height: 2;
color: black;
text-align: left;}

.milktea1{
	width: 40px;
	height: 40px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
position: absolute;
right:787px;}

.milktea2{
	width: 40px;
	height: 40px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
position: absolute;
right:660px;}

.milktea3{
	width: 40px;
	height: 40px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
position: absolute;
right:546px;}

.milktea4{
	width: 40px;
	height: 40px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
position: absolute;
right: 412px;}

.milktea5{
	width: 40px;
	height: 40px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
position: absolute;
right:280px;}

#flavors {
	margin: 50px;
	width:300px;
	margin: 0 auto;
	text-align: -webkit-auto;
	margin-left: inherit;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  /* text */
}

input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 6px 0;
  margin-right: 4px;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align:right;
}

input[type="radio"] + label span {
	/* unclicked */
  background-color: white;  
}

input[type="radio"]:checked + label span {
	/* clicked */
  background-color: #CC3300;
}

input[type="radio"]#radio05:checked + label span {
	/* number 5: clicked */
  background-color: #57E964;
}
input[type="radio"]#radio04:checked + label span {
	/* number 5: clicked */
  background-color: #AF7817;
}
input[type="radio"]#radio03:checked + label span {
	/* number 5: clicked */
  background-color: #F778A1;
}
input[type="radio"]#radio02:checked + label span {
	/* number 5: clicked */
  background-color: #FFFF00;
}
input[type="radio"]#radio01:checked + label span {
	/* number 5: clicked */
  background-color: #E278FF;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}

.design{
font-size:50px;
text-align: center;
margin-left: 40px;
margin-top: 60px;}

input{width: 200px; height: 50px}

.sent{font-size:30px;
	margin-top:200px;
text-align: center;
margin-left: 40px;}

.design2 {
text-align: center;
margin-left: 35px;}

.menuabout{
max-width:530px;
margin: 30px auto;
color: black;
line-height:8px;}

.purpledrink {width:210px;
color: black;
line-height:27px;
z-index: 1;
font-size: 15px;}

.yellowdrink {width:210px;
margin-left: 991px;
margin-top: 399px;
color: black;
line-height:27px;
position: absolute;
z-index: 1;
font-size: 15px;}

.pinkdrink {width:210px;
margin-left: 301px;
margin-top: 928px;
color: black;
line-height:27px;
position: absolute;
z-index: 1;
font-size: 15px;}

.browndrink {width:500px;
margin-left: 338px;
margin-top: 1536px;
color: black;
line-height:27px;
position: absolute;
z-index: 1;}

.greendrink {width:500px;
margin-left: -129px;
margin-top: 1862px;
color: black;
line-height:27px;
position: absolute;
z-index: 1;}

.purple{
color: #E278FF;
line-height:27px;
font-size: 58px;
z-index: 1;
margin: 60px;}

form {margin-top: 30px;}

.yellow{
color: #FFFF00;
line-height:27px;
font-size: 58px;
z-index: 1;
margin: 60px;}

.pink{
color: #F778A1;
line-height:27px;
font-size: 58px;
z-index: 1;
margin: 60px;}

.brown{
color: #AF7817;
line-height:27px;
font-size: 58px;
z-index: 1;
margin: 60px;}

.green{
color: #57E964;
line-height:27px;
font-size: 58px;
z-index: 1;
margin: 60px;}

.black{
color: black;
line-height:27px;
font-size: 58px;
z-index: 1;
margin: 60px;}

.abimg1{position: absolute;
z-index: 1;
top:179px;
margin-left:65px;
}

.abimg2{position: absolute;
z-index: 1;
top:653px;
margin-left:65px;
}

.abimg3{position: absolute;
z-index: 1;
top:867px;
margin-left:65px;
}

.bubble-circle .image {
	display: inline-block;
}

.bubble-circle .description {
	display: inline-block;
	width:210px;
	color: black;
	line-height:27px;
	font-size: 15px;
}

.img1 {
position: absolute;
z-index: 1;
top:367px;
margin-left: 148px;}

.img2 {
position: absolute;
z-index: 1;
top:370px;
margin-left: 848px;}

.img3 {
position: absolute;
z-index: 1;
top:933px;
margin-left:153px;}

.img4 {
position: absolute;
z-index: 1;
top:931px;
margin-left:804px;}

.img5 {
position: absolute;
z-index: 1;
top:1731px;
margin-left:46px;}

#circle {
	width: 620px;
	height:620px;
	background: #FFE5B4;
	-moz-border-radius: 270px;
	-webkit-border-radius: 270px;
	border-radius: 575px;
	text-align: center;
	margin-top: 13px;
	margin-left: 100px;
	position: absolute;
}

#aboutcircle {
	width: 620px;
	height:620px;
	background: black;
	-moz-border-radius: 270px;
	-webkit-border-radius: 270px;
	border-radius: 575px;
	text-align: center;
	margin-top: 13px;
	margin-left: 100px;
	position: absolute;
}

.pearl{width: 70px;
	height: 70px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
margin-left:70px;
bottom:109px;}

.pearl2{width: 70px;
	height: 70px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
margin-left:43px;
bottom:188px;}

.pearl3{width: 70px;
	height: 70px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
position: absolute;
margin-left:250px;
bottom:120px;}

.pearl4{width: 70px;
	height: 70px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
position: absolute;
margin-left:401px;
bottom:55px;}

	.pearl5{width: 70px;
	height: 70px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
position: absolute;
margin-left:304px;
bottom:22px;}

	.pearl6{width: 70px;
	height: 70px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
position: absolute;
margin-left:418px;
bottom:223px;}

.pearl7{width: 70px;
	height: 70px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
position: absolute;
margin-left:502px;
bottom:189px;}

.pearl8{width: 70px;
	height: 70px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
position: absolute;
margin-left:489px;
bottom:259px;}

.pearl9{width: 50px;
	height: 50px;
	background: black;
position: absolute;
margin-left:209px;
bottom:211px;}

.pearl10{width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 58px solid black;
position: absolute;
margin-left:147px;
bottom:79px;}

.pearl11{
	position: absolute;
    width: 80px;
    height: 70px;
margin-left:147px;
bottom:79px;
margin-left:336px;
bottom:124px;}

.pearl11:before,
.pearl11:after{
	position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: black;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;}
.pearl11:after{
	left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}


.pearl12{width: 70px;
	height: 70px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
position: absolute;
margin-left:218px;
bottom:15px;}


.bubble-circle {
	width: 484px;
	height:484px;
	background: white;
	-moz-border-radius: 270px;
	-webkit-border-radius: 270px;
	border-radius: 270px;
	display: inline-block;
	vertical-align: top;
	margin: 50px;
}

#menucircle {
	width: 484px;
	height:484px;
	background: white;
	-moz-border-radius: 270px;
	-webkit-border-radius: 270px;
	border-radius: 575px;
	text-align: center;
	margin-top: 228px;
	margin-left: 102px;
	position: absolute;
}


#menucircle2 {
	width: 484px;
	height:484px;
	background: white;
	-moz-border-radius: 270px;
	-webkit-border-radius: 270px;
	border-radius: 575px;
	text-align: center;
	margin-top: 228px;
	margin-left: 781px;
	position: absolute;
}


#menucircle3 {
	width: 484px;
	height:484px;
	background: white;
	-moz-border-radius: 270px;
	-webkit-border-radius: 270px;
	border-radius: 575px;
	text-align: center;
	margin-top: 786px;
	margin-left: 102px;
	position: absolute;
}


#menucircle4 {
	width: 484px;
	height:484px;
	background: white;
	-moz-border-radius: 270px;
	-webkit-border-radius: 270px;
	border-radius: 575px;
	text-align: center;
	margin-top: 786px;
	margin-left: 781px;
	position: absolute;
}


#menucircle5 {
	width: 484px;
	height:484px;
	background: white;
	-moz-border-radius: 270px;
	-webkit-border-radius: 270px;
	border-radius: 575px;
	text-align: center;
	margin-top: 1334px;
	margin-left: 102px;
	position: absolute;
}

#menucircle6 {
	width: 484px;
	height:484px;
	background: white;
	-moz-border-radius: 270px;
	-webkit-border-radius: 270px;
	border-radius: 575px;
	text-align: center;
	margin-top: 1334px;
	margin-left: 781px;
	position: absolute;
}






.myButton {
	background-color:black;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-size:17px;
	padding:24px 9px;
	text-decoration:none;
	position: absolute;
margin-left:-177px;
bottom:134px;
font-size: 15px;
-webkit-transition: all .75s ease-out;
	-moz-transition: all .75s ease-out;
	-o-transition: all .75s ease-out;
	transition: all .75s ease-out;
}
.myButton:hover {
	background-color:#F75D59;
}
/*.myButton:active {
	position:relative;
	top:1px;
}*/

.myButton2 {
	background-color:black;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:17px;
	padding:24px 11px;
	text-decoration:none;
	position: absolute;
margin-left:20px;
bottom:216px;
font-size: 15px;
-webkit-transition: all .75s ease-out;
	-moz-transition: all .75s ease-out;
	-o-transition: all .75s ease-out;
	transition: all .75s ease-out;
}
.myButton2:hover {
	background-color:#52D017;

}

.myButton3 {
	background-color:black;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:17px;
	padding:27px 9px;
	text-decoration:none;
	position: absolute;
     margin-left:141px;
      bottom:115px;
      font-size: 15px;
      -webkit-transition: all .75s ease-out;
	-moz-transition: all .75s ease-out;
	-o-transition: all .75s ease-out;
	transition: all .75s ease-out;
                   }

.myButton3:hover {
	background-color:#4CC7E4;
}


.aboButton {
	background-color:black;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-size:13px;
	padding:23px 9px;
	text-decoration:none;
	position: absolute;
margin-left:529px;
bottom:572px;

-webkit-transition: all .75s ease-out;
	-moz-transition: all .75s ease-out;
	-o-transition: all .75s ease-out;
	transition: all .75s ease-out;
}
.aboButton:hover {
	background-color:#F75D59;
}
/*.myButton:active {
	position:relative;
	top:1px;
}*/

.aboButton2 {
	background-color:black;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:13px;
	padding:23px 11px;
	text-decoration:none;
	position: absolute;
margin-left:530px;
bottom:472px;
margin-bottom: 34px;
-webkit-transition: all .75s ease-out;
	-moz-transition: all .75s ease-out;
	-o-transition: all .75s ease-out;
	transition: all .75s ease-out;
}
.aboButton2:hover {
	background-color:#52D017;

}

.aboButton3 {
	background-color:black;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:13px;
	padding:25px 9px;
	text-decoration:none;
	position: absolute;
     margin-left:530px;
      bottom:368px;
      margin-bottom: 63px;
      -webkit-transition: all .75s ease-out;
	-moz-transition: all .75s ease-out;
	-o-transition: all .75s ease-out;
	transition: all .75s ease-out;
                   }

.aboButton3:hover {
	background-color:#4CC7E4;
}

#navigation {
	position: absolute;
	top: 20px;
	right: 20px;
}

#navigation a {
	background-color:black;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:13px;
	padding:23px 12px;
	margin-bottom: 8px;
	text-decoration:none;
	-webkit-transition: all .75s ease-out;
	-moz-transition: all .75s ease-out;
	-o-transition: all .75s ease-out;
	transition: all .75s ease-out;
}

#navigation a.menubutton:hover {
	background-color:#F75D59;
}

#navigation a.menubutton2:hover {
	background-color:#52D017;
}

#navigation a.menubutton3:hover {
	background-color:#4CC7E4;
}

#simple_sketch {
	width: 800px;
	height: 800px;
	margin-top: 50px;
}

.orderButton {
	background-color:black;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:17px;
	padding:20px 9px;
	text-decoration:none;
	position: absolute;
     margin-left:-26px;
      bottom:-1264px;
      margin-bottom: 20px;
      font-size: 15px;
      -webkit-transition: all .75s ease-out;
	-moz-transition: all .75s ease-out;
	-o-transition: all .75s ease-out;
	transition: all .75s ease-out;
                   }

.orderButton:hover {
	background-color:#4CC7E4;
}

h1 {size:40px;
margin-top: 66px;}

.welcome {size:32px;
	margin-top:5px;}

.welcome1 {size:32px;
	margin-top:20px;
margin-left: -6px;}

.homeChawang{size:70px;
margin-top: 25px;
margin-left: -10px;}

.orderonline{margin-top: 70px;
font-size:40px;}

.delivered {margin-top: 10px;font-size: 40px;}

/* Media queries */

@media screen and (max-width: 1024px) {


}

@media screen and (max-width: 768px){

#container {
	width: auto;
}

#simple_sketch {
	width: 400px;
	height: 400px;
	margin-top: 50px;
}

#circle {
	width: 420px;
	height:420px;
	background: #FFE5B4;
	-moz-border-radius: 270px;
	-webkit-border-radius: 270px;
	border-radius: 575px;
	text-align: center;
	margin-top: 10px;
	margin: 23px auto;
	position:static;
}
	
.pearl,
.pearl2,
.pearl3,
.pearl4,
.pearl5,
.pearl6,
.pearl7,
.pearl8,
.pearl9,
.pearl10,
.pearl11,
.pearl12 {
	display: none;
}

a.myButton,
a.myButton2,
a.myButton3 {
	position: static;
	margin-left: 0;
}

.about,
.aboutbb {width:300px;
	margin-left: 332px;
}

.abimg1 {margin-left: 10px;}
.abimg2 {margin-left: 10px;margin-top: 200px}
.abimg3 {margin-left: 10px; margin-top:300px}

.aboButton,
.aboButton2,
.aboButton3 {margin-left: 300px;}

.orderonline{margin-top: 40px;
font-size:20px;}

.delivered {margin-top: 10px;font-size: 20px;}

.contactinfo{width:199px;height:30px;
bottom:73px;
position: absolute;
text-align: left;
margin-left: 90px;
}

.open{width:199px;height:30px;
bottom:83px;
position: absolute;
text-align: left;
margin-left: 350px
}

a.aboButton,
a.aboButton2,
a.aboButton3 {
	position: static;
	margin-left: 0;
}

a.menubutton,
a.menubutton2,
a.menubutton3 {position: static;
	margin-left: 0;}


	.orderButton {
      bottom:-1100px;
     }



