p:first-child {
    font-family: Cursive;
    background-color: red;
    color: white;
}

p:nth-child(2) {
    font-family:Tahoma;
    background-color: orange;
}

p:nth-child(3) {
    color: #cc0000;
    background-color: yellow;

}

p:nth-child(4) {
    color: #00ff00;
    background-color: green;
}
p:nth-child(5) {
    font-size:22px;
    background-color: blue;
    color: white;
}
p:nth-child(6) {
    font-size:28px;
    background-color: purple;
    color: white;
}

p:nth-child(7) {
    font-size:30px;
    background-color: purple;
    color:white;
}