body {background-color: #FFBB21;}

#container {width: 800px;
	height: 800px;
border: none;
margin: 0 auto;
text-align: center; }

#circle {
	width: 420px;
	height: 420px;
	background: white;
	-moz-border-radius: 270px;
	-webkit-border-radius: 270px;
	border-radius: 270px;
	margin-left: 210px;
	margin-top: 100px;
}

p { color: yellow;
font-size: 9pt;}

ul {list-style-type: none;
}
h1{color: #F87271;
margin-left: 46px;
font-size: 50px;}

.1 {margin-left:20px;}

.circle-red {position: relative; 
	display: block; 
	width: 140px; 
	height: 380px;
margin-left: 120px;}

#navigation {
	position: static !important;
}

#navigation a {
	text-decoration:none; /* gets rid of the underline */
	font-family: Helvetica, Arial, Serif; 
	padding:10px 10px 10px 10px;
	line-height:none;
	color: black;
	font-family: Avenir;
	margin: 0 auto;
	display:inline-block;
	-webkit-transition: all .75s ease-out;
	-moz-transition: all .75s ease-out;
	-o-tansition: all .75s ease-out;
	transition: all .75s ease-out;
}

#navigation a:hover {
	background-color: #FCE4B5;
	color:#FD3538;

text-align: {center};
}

#navigation a.one:hover {
	background: #ADDFFF;
	color: white;
}

#navigation a.two:hover {
	background:#9DC209 ;
	color: white;
}

#navigation a.three:hover {
	background: #FFCBA4;
	color: white;
}

#navigation a.four:hover {
	background: #FAAFBA;
	color: white;
}

#navigation a.five:hover {
	background: orange;
	color: white;
}



