#container {
	width: 1200px;
	padding: 0px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 70px;
	background-color: #FFF;
	border: solid #000000 2px;
}
title {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #acd1b2;
}
p{text-align: center;}